Package: CHANGE_NAME
Version: CHANGE_VERSION
Architecture: CHANGE_ARCH
Maintainer: CHANGE_MAINTAINER
Installed-Size: CHANGE_SIZE
Section: CHANGE_SECTION
Priority: optional
Homepage: https://github.com/FershoUno/plurios-firefox-profiles
Description: PluriOS Firefox profiles
  Meta package providing the default Firefox profile customization for PluriOS.
  Forked from parrot-interface and modified to match PluriOS design, security
  policies, and usability standards.
